{
    "presets": ["env", "stage-0"],
    "plugins": [
        "transform-runtime",
        [
            "component",
            [{
                "libratyName": "mint-ui",
                "style": true
            }]
        ]
    ]   
}